* {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

header {
  position: relative;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 50px;
  background-color: #212121;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu_link {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.menu_item:last-child {
  border-right: none;
}

.hamburger {
  display: none;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 50px;
}

.subheader_logo {
  display: block;
  margin-top: 16px;
  max-width: 100%;
}

.subheader .logo_text {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 100;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}

.subheader .call_text {
  display: block;
  margin-top: 19px;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  text-align: right;
  color: #ffffff;
}

.subheader .tel {
  display: block;
  margin-top: 8px;
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  text-align: right;
  color: #ffffff;
  line-height: 12px;
}

.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  background: url(../img/main.jpeg) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo .header_promo {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  line-height: 60px;
  color: #ffffff;
  margin: 0;
}

.promo .subheader_promo {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 36px;
  color: #ffffff;
  margin: 0;
  margin-top: 12px;
}

.promo .promo_descr {
  margin-top: 23px;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.promo .promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.promo .promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.label {
  display: block;
  margin: 0 auto;
  padding: 2px;
  width: 112px;
  height: 24px;
  background-color: #000000;
  font-size: 11px;
  font-weight: 100;
  text-align: center;
  line-height: 22px;
  color: #ffffff;
  text-transform: uppercase;
}

.title {
  margin-bottom: 0;
  margin-top: 38px;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: #222222;
}

.subtitle {
  margin-top: 19px;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  color: #222222;
}

.job {
  padding-top: 71px;
}

.job .col {
  min-height: 772px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.job .cause_blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.job .cause_disk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 113px;
  height: 113px;
  border-radius: 100%;
  background-color: #1eacc7;
}

.job .cause_text {
  max-width: 341px;
  height: auto;
  margin-left: 26px;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
  text-align: justify;
  color: #202020;
}

.job span {
  font-size: 17px;
  font-weight: normal;
  color: #1eacc7;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 80px 0;
  background: url("../img/bg-mobile.png") center center/cover no-repeat;
}

.mobile .row {
  margin-top: 32px;
}

.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

.mobile_item_1 {
  background: url("../img/mobile/1.jpeg") center center/cover no-repeat;
}

.mobile_item_2 {
  background: url("../img/mobile/2.jpeg") center center/cover no-repeat;
}

.mobile_item_3 {
  background: url("../img/mobile/3.jpeg") center center/cover no-repeat;
}

.mobile_item_4 {
  background: url("../img/mobile/4.jpeg") center center/cover no-repeat;
}

.mobile_item_5 {
  background: url("../img/mobile/5.jpeg") center center/cover no-repeat;
}

.mobile_item_6 {
  background: url("../img/mobile/6.jpeg") center center/cover no-repeat;
}

.mobile_item_title {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background-color: #000000;
  cursor: pointer;
}

.mobile_item_plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
}

.mobile_item_plus::after {
  position: absolute;
  left: 50%;
  content: "";
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mobile_item_plus:hover {
  background-color: #ff5656;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.auto {
  min-height: 896px;
  padding-top: 57px;
  background: url("../img/bg-auto.png") center center/cover no-repeat;
}

.auto .label {
  background-color: #ffffff;
  color: #070716;
  font-weight: 300;
}

.auto .title {
  color: #ffffff;
}

.auto .subtitle {
  color: #ffffff;
}

.auto img {
  display: block;
  margin: 56px auto 0 auto;
}

.auto .bottom_title {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.41;
  text-align: center;
  color: #222222;
}

.check {
  padding: 68px 0 84px 0;
}

.check_blok {
  display: block;
  margin: 33px 0 30px 0;
}

.check_blok_nmb {
  margin-bottom: 0;
}

.check_head {
  font-size: 22px;
  font-weight: normal;
  color: #1eacc7;
}

.check_title {
  color: #1eacc7;
}

.check_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 19px;
}

.check_list li {
  position: relative;
  margin-bottom: 12px;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
  color: #222222;
}

.check_list li:before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 5px;
  width: 21px;
  height: 20px;
  background: url("../icons/check/check_blue.png") center center/cover no-repeat;
  -webkit-transform: translate(-10px, -2px);
          transform: translate(-10px, -2px);
}

.check .warning .check_head {
  color: #ff5656;
}

.check .warning .check_list li::before {
  background: url("../icons/check/check_red.png") center center/cover no-repeat;
}

.map {
  height: 717px;
  background: url("../img/map.jpeg") center center/cover no-repeat;
  padding-top: 49px;
  position: relative;
}

.map .label {
  background-color: #ffffff;
  color: #070716;
  font-weight: 300;
}

.map .title {
  color: #ffffff;
}

.map .subtitle {
  color: #ffffff;
}

.map_title {
  position: absolute;
  bottom: 49px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  color: #1fbad6;
  text-transform: uppercase;
}

.futer {
  height: 156px;
  position: relative;
}

.futer_line {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 14px auto 0 auto;
}

.futer_link {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.futer_link a {
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  color: #070716;
  text-transform: uppercase;
  margin: auto 23px;
}

.futer_link a:hover {
  color: red;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.futer_link_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 13px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.futer_link_2 a {
  font-size: 11px;
  font-weight: 300;
  text-align: left;
  color: #999999;
  text-transform: uppercase;
  margin: auto 10px;
}

.futer_link_2 a:hover {
  color: red;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.futer_lang {
  font-size: 11px;
  font-weight: normal;
  text-align: center;
  color: #1fbad6;
  text-transform: uppercase;
  margin-top: 19px;
}

.futer_socium {
  position: absolute;
  top: 51px;
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 149px;
  height: 32px;
}

.futer_socium .socium_raund {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #070716;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.futer_app-market {
  position: absolute;
  top: 51px;
  right: 20px;
}

.futer_line_end {
  display: block;
  margin-top: 30px;
  height: 8px;
  background-color: #070716;
}

.subheader .xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }
  .promo .header_promo {
    font-size: 50px;
  }
  .job .cause_blok {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .job .cause_text {
    max-width: 300px;
  }
}

@media (max-width: 991px) {
  .menu_item {
    padding-right: 8px;
  }
  .menu_link {
    font-size: 10px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader .logo_text {
    font-size: 11px;
  }
  .subheader .tel {
    font-size: 18px;
  }
  .subheader .tel_btn {
    width: 100%;
    height: 40px;
  }
  .promo .header_promo {
    font-size: 40px;
  }
  .promo .subheader_promo {
    font-size: 30px;
  }
  .job .cause_blok {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .job .cause_blok_disk {
    margin-right: 0;
  }
  .job .cause_blok .cause_text {
    max-width: 300px;
    margin: 20px;
  }
  .mobile_item {
    margin-bottom: 35px;
  }
  .auto {
    min-height: 750px;
  }
  .auto img {
    width: 100%;
  }
  .map {
    height: 500px;
  }
  .futer {
    height: 180px;
  }
  .futer_line_end {
    margin-top: 57px;
  }
  .futer_socium {
    top: 120px;
    left: 10px;
  }
  .futer_app-market {
    top: 120px;
    right: 10px;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .subheader .xs-hiden {
    display: none;
  }
  .subheader .xs-visible {
    display: block;
  }
  .subheader .tel {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 10px;
  }
  .subheader_btn {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 30px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 12px;
  }
  .promo .header_promo {
    line-height: 45px;
  }
  .auto {
    min-height: 660px;
  }
  .futer {
    min-height: 180px;
  }
  .futer_line_end {
    margin-top: 10px;
  }
  .futer_socium {
    position: static;
    width: 149px;
    margin: auto;
    margin-top: 20px;
  }
  .futer_app-market {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  nav {
    height: 30px;
  }
  .subheader {
    margin-top: 30px;
    height: 60px;
  }
  .subheader .logo_text {
    display: none;
  }
  .subheader_logo {
    margin-top: 20px;
  }
  .subheader .tel {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    margin-top: 11px;
  }
  .subheader_btn {
    width: 110px;
    height: 20px;
    font-size: 10px;
    margin-top: 6px;
  }
  .promo {
    min-height: 400px;
    padding-top: 146px;
    padding-bottom: 35px;
  }
  .promo_descr {
    display: none;
  }
  .promo .header_promo {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    padding: 0 24px;
  }
  .promo .subheader_promo {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 33px;
  }
  .promo .promo_btn {
    width: 210px;
    height: 50px;
    font-size: 16px;
    margin-top: 72px;
  }
  .menu {
    width: 85%;
  }
  .job {
    padding: 22px 0 36px 0;
  }
  .job .cause_blok {
    margin: 0;
  }
  .job .cause_disk {
    width: 100px;
    height: 100px;
  }
  .job .cause_text {
    width: 100%;
    margin-top: 25px;
  }
  .job span {
    font-size: 16px;
  }
  .title {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 26px;
  }
  .mobile {
    padding-bottom: 43px;
  }
  .mobile_item {
    width: 290px;
    height: 250px;
    margin-bottom: 20px;
  }
  .auto {
    padding: 25px 0 33px 0;
    min-height: 390px;
  }
  .auto img {
    margin-top: 35px;
  }
  .auto .title {
    display: none;
  }
  .auto .subtitle {
    display: none;
  }
  .check {
    padding-bottom: 6px;
  }
  .check .title {
    margin-bottom: 0;
  }
  .check_blok {
    margin: 20px 0;
  }
  .check_head {
    font-size: 16px;
  }
  .check li {
    font-size: 14px;
  }
  .check li::before {
    left: -18px;
    top: 2px;
  }
  .map {
    height: 390px;
    padding: 25px 0 30px 0;
  }
  .map .subtitle {
    font-size: 14px;
    margin-top: 0;
  }
  .map .title {
    margin-bottom: 10px;
  }
  .map_title_link {
    font-size: 12px;
  }
  .futer_link {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .futer_link a {
    margin: auto 0;
    font-size: 14px;
  }
  .futer_link_2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0;
  }
  .futer_link_2 a {
    font-size: 11px;
    margin-top: 10px;
  }
  .futer_lang {
    margin-top: 13px;
  }
  .futer_socium {
    margin-top: 20px;
  }
  .futer_app-market {
    margin-top: 20px;
  }
}
